body {
  margin: 0;
  padding: 0;
}

.top-header {
  height: 92px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: #3c3a39;
}

.menu-icon {
  margin-right: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 24px;
  height: 92px;
}

.menu-bar-desktop {
  justify-content: center;
  gap: 18px;
  align-items: center;
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 50px 147px;
}

.logo-name {
  font-family: 'Roboto', Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-name:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-out
}

img {
  display: block;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: -5px;
}

.headline {
  font-family: 'Poppins', Courier, monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  min-height: 590px;
  left: 0;
  top: 92px;
  background: #1c1a19;
  color: white;
  box-sizing: border-box;
  background-image: url('images/Illustration-header.png');
  background-repeat: no-repeat;
  background-size: 275px;
  background-position: bottom right -150px;
}

.head-background {
  width: 300px;
  display: none;
}

.head-background img {
  width: 300px;
}

.main-header h1 {
  min-width: 327px;
  font-family: 'Crete Round', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.main-header h2 {
  font-size: 20px;
  margin: 0;
}

.headline-desc {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.social-icons {
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 20px;
  padding: 10px 40px;
  box-sizing: content-box;
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-header {
  display: flex;
  flex-direction: column;
}

.line {
  border: 1px solid rgb(155, 153, 153);
  height: 0;
  width: 100%;
}

.projects-section-title {
  font-family: 'Crete Round', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.desc-title {
  font-family: 'Crete Round', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.description {
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.project-image img {
  width: 100%;
  height: auto;
}

.projects-image img:hover {
  transform: scale(2);
}

.project-tech {
  display: flex;
  gap: 20px;
  justify-content: start;
}

.project-tech li a {
  box-sizing: border-box;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid black;
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #091e42;
}

.project-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.project-button:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  transition: all 0.5s ease-out;
}

.disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.project-button:active {
  color: #f4f1f0;
  background: #e05304;
}

.mobile-card {
  background-image: url('images/background.png');
  min-height: 435px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.transparent {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.938));
  box-sizing: border-box;
  min-height: 435px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-desc {
  padding: 25px 24px 0 25px;
  color: white;
}

.mobile-description {
  color: white;
  font-weight: bold;
}

.mobile-tech {
  padding: 0 24px;
}

.mobile-tech li a {
  color: white;
  background: rgba(255, 255, 255, 0.24);
  border: none;
  font-weight: bold;
}

.mobile-button {
  display: flex;
  background: #ff6b00;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.about-section {
  background: #1c1a19;
  color: white;
  box-sizing: border-box;
  padding: 24px;
  min-height: 600px;
}

.about-header h3 {
  font-size: 52px;
  font-family: 'Crete Round', Courier, monospace;
  color: #ff6b00;
  margin: 0;
}

.about-btn {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 24px;
  gap: 20px;
  list-style-image: url('images/bullet.png');
  list-style-position: inside;
}

.lang-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}

.lang-list li {
  font-size: 24px;
  font-weight: 400;
}

.lang-title {
  font-family: 'Inter', Courier, monospace;
  font-weight: 7;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 24px;
}

.contact-desc {
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 0.05 rem 0.1 rem #dbd8d7;
}

.contact-form .textarea {
  height: 114px;
  margin-bottom: 24px;
  background: #fbf8f7;
  outline: none;
  border: none;
  padding: 12px;
}

textarea::placeholder {
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.contact-form input {
  border: none;
  outline: none;
  padding: 14px;
  border-bottom: 1px solid #dbd8d7;
}

::placeholder {
  font-size: 15px;
  font-family: 'Inter', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

.contact-btn {
  display: flex;
  width: 131px;
  margin: 2px auto;
}

.footer-icons {
  justify-content: center;
  min-height: 71px;
  border-top: 1px solid #dfe1e6;
  color: #505f79;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 410px) {
  .headline-description {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .menu-bar-desktop {
    display: flex;
  }

  .menu-bar-desktop li:hover {
    transform: scale(1.2);
  }

  .menu-icon {
    display: none;
  }

  .nav-bar {
    padding: 0 141px;
  }

  .headline {
    flex-direction: row-reverse;
    gap: 40px;
    background-image: none;
    align-items: center;
    padding-right: 0;
  }

  .projects {
    padding: 10px 141px;
  }

  .social-icons {
    flex-direction: column;
    gap: 10px;
  }

  .head-background {
    display: block;
  }

  hr {
    margin: 100px 142px;
  }

  .project-header {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .line {
    width: 50%;
  }

  .desc {
    width: 45%;
  }

  .project-card {
    flex-direction: row;
    gap: 20px;
  }

  .description {
    font-size: 16px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .about-flex-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-left: 142px;
  }

  .about-desc {
    width: 50%;
  }

  .about-background {
    background-image: url('images/Group.png');
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    background-position: right;
  }

  .about-section {
    padding: 136px 0;
  }

  .about-header {
    padding-left: 141px;
  }

  .categories {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 141px;
    gap: 12%;
  }

  .contact {
    flex-direction: row;
    gap: 40px;
    padding: 80px 141px;
  }

  .contact-desc {
    width: 40%;
    text-align: left;
  }

  .contact-form {
    width: 60%;
  }

  .contact-btn {
    margin: 0;
  }

  .footer-icons {
    flex-direction: row;
    
  }

  .lang-list {
    text-align: left;
  }
}
